<table class="table table-hover table-striped">
	<tr>
		<th style="width: 25px;">#</th>
		<th>Title</th>
		<th style="width: 25px;">Runtime</th>
		<th style="width: 150px;"></th>
	</tr>
	{{#each items}}
	<tr>
		<td>{{@index}}</td>
		{{#if this.episode}}
		<td>{{this.showtitle}} - {{this.title}} (Season {{this.season}}, Episode {{this.episode}})</td>
		{{else}}
		<td>{{this.title}}</td>
		{{/if}}
		<td>{{inHoursMinutesSeconds this.runtime}}</td>
		<td data-position="{{@index}}"> <!-- TODO: episodeid dynamic... -->
			<button type="button" class="btn btn-default btn-sm play">
				<span class="glyphicon glyphicon-play"></span>
			</button>
			<button type="button" class="btn btn-default btn-sm info">
				<span class="glyphicon glyphicon-info-sign"></span>
			</button>
			<button type="button" class="btn btn-default btn-sm remove">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</td>
	</tr>
	{{/each}}
</table>