<table class="table table-hover table-striped">
	<tr>
		<th style="width: 25px;">#</th>
		<th>Title</th>
		<th style="width: 25px;">Runtime</th>
		<th style="width: 150px;"></th>
	</tr>
	{{#each episodes}}
	<tr>
		<td>{{this.episode}}</td>
		<td>{{this.title}}</td>
		<td>{{inHoursMinutesSeconds this.runtime}}</td>
		<td>
			<button type="button" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-play"></span>
			</button>
			<button type="button" class="btn btn-default btn-sm add-to-playlist" data-idtype="{{this.episodeid}}" data-id="{{this.episodeid}}">
				<span class="glyphicon glyphicon-list"></span>
			</button>
			<button type="button" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-info-sign"></span>
			</button>
		</td>
	</tr>
	{{/each}}
</table>